<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Un impulso intangible se puede transmutar en ganancias materiales.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Comercio Electronico</h4>
                    <p class="text-muted">Si desea tener exito vendiendo sus productos o servicios, soy la persona indicada para brindarle asesoria adecuada, promoviendo su imagen o la imagen de su empresa.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Diseño Web</h4>
                    <p class="text-muted">Para tener exito deberia conocer y aprovechar las herramientas disponibles no es solo tener un sistema, una pagina web, es poder crecer continuamente.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Seguridad Web</h4>
                    <p class="text-muted">Cuando se trata de tener seguridad de sus activos seran herramientas informaticas, usted necesita saber como protegerlos para evitar contratiempos por errores o intrusiones.</p>
                </div>
            </div>
        </div>
    </section>
